.main-text {
    font-size: 1.6rem;
    color: var(--text-secondary);
    font-weight: 300;
}

.main-text strong {
    font-weight: 500;
}

/* Desktop nav */
.desktop-nav-container {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1000;
}

.desktop-nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
}

/* Mobile nav */
.mobile-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 12px;
    transition: all 0.3s ease;
    background-color: var(--bg-primary);
}

.mobile-nav {
    width: 90%;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid var(--border-primary);
    border-radius: 9999px;
    background-color: var(--bg-primary);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
}

.mobile-nav-menu {
    width: 90%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid var(--border-primary);
    background-color: var(--bg-primary);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    transition: all 0.3s ease;
    display: grid;
    margin: 12px auto;
}

/* Backdrop overlay */
.backdrop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
    opacity: 0.95;
    z-index: 900;
    transition: all 0.3s ease;
}

.mobile-nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 36px;
}

.mobile-nav-menu ul li a {
    font-size: 1.8rem;
}


.mobile-nav-menu ul li:nth-last-child(2) {
    margin-bottom: 12px;
}

.mobile-nav-menu .theme-container {
    padding-top: 12px;
    border-top: 1px solid var(--border-primary);
}

.mobile-nav-menu ul li h4 {
    font-size: 1.25rem;
}


/* Desktop nav */
.desktop-nav-container {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1000;
}

.desktop-nav {
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
}

/* First section */

.title-underline {
  position: relative;
}

.title-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 3.5rem; 
  height: 1px; 
  background-color: var(--text-primary);
}

.brief-info-container {
    margin-bottom: 12px;
}

.brief-info-container ul {
    line-height: 2rem;
    color: var(--text-secondary);
}

.brief-info-container ul li {
    border-bottom: 1px solid var(--border-primary);
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Project View */
.project-view-container {
    width: 100%;
    margin-top: 32px;
    display: grid;
    position: relative;
    margin-bottom: 52px;
    border-bottom: 1.5px solid var(--border-primary);
    transform: scale(1);
    transition: transform 0.5s ease;
    cursor: pointer; /* Indicar que todo el componente es clickable */
    border-radius: 8px; /* Añadir bordes redondeados */
    padding-bottom: 24px;
}

.project-view-container:hover {
    transform: scale(1.02);
}

.project-view-container:hover h4 {
    color: var(--text-primary); /* Color más oscuro al hacer hover */
    transition: color 0.3s ease;
}

.project-view-container:hover .project-arrow {
    color: var(--text-primary); /* Cambiar color de la flecha al hacer hover */
    transition: color 0.3s ease;
}

.project-view-container:focus-visible {
    outline: 2px solid var(--text-primary);
    outline-offset: 4px;
}

/* Para mantener el foco en la flecha independientemente */
.project-view-container .project-arrow:focus-visible {
    outline: 2px solid var(--text-primary);
    outline-offset: 2px;
    border-radius: 50%;
}

.project-view-container img {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    object-fit: cover;
}

.project-view-container h4 {
    font-size: 1.8rem;
    margin-top: 16px;
    margin-bottom: 12px;
    color: var(--text-tertiary);
    font-weight: 500;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transition: color 0.3s ease;
}

.project-view-container .project-arrow {
    color: var(--text-tertiary);
    rotate: 315deg;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: end;
    transition: transform 0.3s ease, color 0.3s ease;
}

.project-view-container .project-arrow:hover {
    cursor: pointer;
    transform: rotate(45deg);
}

.project-view-container article {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.project-view-container article h3 {
    font-size: 1.8rem;
    color: var(--text-primary);
    margin-bottom: 8px;
    font-weight: bold;
}

.project-view-container article p {
    font-size: 1.4rem;
    color: var(--text-tertiary);
    margin-bottom: 16px;
    line-height: 1.4;
}

.project-view-container article ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-view-container article ul li {
    background-color: #f3f4f6;
    padding: 2px 6px;
    border-radius: 4px;
    color: var(--text-tertiary);
    font-size: 1.2rem;
    margin-bottom: 12px;
    transition: background-color 3s ease;
}

.project-view-container article ul li:hover {
    background-color: var(--text-secondary);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-view-container article div p {
    font-size: 1.2rem;
    display: inline-block;
}

.project-view-container .project-genre {
    padding: 4px 10px;
    border-radius: 16px;
    background-color: var(--text-primary);
    color: var(--border-primary);
    margin-right: 12px;
}

.project-status {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
    font-size: 1.2rem;
    color: var(--text-secondary);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: pulse 2s ease-in-out infinite;
}

.status-live {
    background-color: var(--success)
}

.status-development {
    background-color: var(--warning); /* naranja */
}

.status-down {
    background-color: var(--error); /* rojo */
}

/* Experience section */

/* Experience item */
.experience-item {
    padding: 1rem 1rem 1rem 1.5rem;
    margin-top: 1rem;
    border: 1px solid var(--border-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: transparent;
    border-radius: 8px;
    transition: background-color 0.5s, transform 0.5s;
}

.experience-item:hover {
    background-color: var(--bg-secondary);
    transform: scale(1.02);
}


.experience-item__basics {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.experience-item__job-label {
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 1.2rem;
    font-weight: 400;
}

.experience-item__title {
    margin-top: 4px;
    font-size: 1.8rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.experience-item__company {
    font-size: 1.2rem;
    color: var(--text-secondary);
    font-weight: 500;
}

.experience-item__dates {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.experience-item__info-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: var(--text-tertiary);
}

.experience-item__description {
    margin-top: 1rem;
}

.experience-item__description p {
    font-size: 1.4rem;
    color: var(--text-tertiary);
    margin-bottom: 0.5rem;
}

.experience-item__description span {
    display: block;
    font-size: 1.2rem;
    color: var(--text-secondary);
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.experience-item__description .experience-item__achievements-title {
    font-size: 1.4rem;
    font-weight: 500;
}

.experience-item__achievement {
    font-size: 1.2rem;
    color: var(--text-tertiary);
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 10px; /* Espacio para el punto */
}

.experience-item__achievement::before {
    content: "•"; /* Punto como contenido */
    position: absolute;
    left: -1px;
    top: -3px;
    font-size: 1.6rem;
    color: var(--text-tertiary); /* Color del punto */
}

.experience-item__technologies {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.experience-item__technology {
    padding: 4px 8px;
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
    border-radius: 4px;
    font-size: 1.2rem;
    display: inline-block;
}

/* Education section */
.education-item {
    padding-block: 8px;
    transform: scale(1);
    background-color: transparent;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.education-item:hover {
    transform: scale(1.02);
    background-color: var(--bg-secondary);
}

.education-item__heading h4 {
    font-size: 1.8rem;
    color: var(--text-primary);
    margin-bottom: 8px;
    font-weight: bold;
}

.education-item__heading span {
    width: fit-content;
    height: fit-content;
    font-size: 1.2rem;
    padding: 4px 8px;
    border-radius: 16px;
}

.education-item__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.education-item__info h6 {
    font-size: 1.4rem;
    color: var(--text-secondary);
    margin-bottom: 4px;
    font-weight: 500;
}

.education-item__info span {
    font-size: 1.4rem;
    color: var(--text-tertiary);
}

.education-item__info p {
    font-size: 1.4rem;
    color: var(--text-tertiary);
    margin-bottom: 0;
}

/* Certifications section */
.education__all-courses-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    padding: 12px 24px;
    background-color: var(--text-primary);
    color: var(--bg-primary);
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 8px;
    margin-block: 12px;
}

.education__all-courses-btn:hover {
    cursor: pointer;
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Course View */
.course-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 1px solid var(--border-secondary);
}

.course-item:hover {
    background-color: var(--bg-secondary);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-color: var(--border-primary);
}

.course-item__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.course-item__area {
    padding: 4px 8px;
    width: fit-content;
    height: fit-content;
    background-color: var(--text-primary);
    color: var(--bg-primary);
    border-radius: 4px;
    font-size: 1.2rem;
}

.course-item__date {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    color: var(--text-tertiary);
}

.course-item__date p {
    font-size: 1.2rem;
    padding-top: 0.5px;
}

.course-item__info {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 8px;
}

.course-item__info h5 {
    font-size: 1.4rem;
    color: var(--text-primary);
    font-weight: 500;
    word-spacing: -2px;
    line-height: 18px;
}

.course-item__info p {
    font-size: 1.2rem;
    color: var(--text-tertiary);
}

.course-item__aptitudes {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
}

.course-item__aptitude {
    padding: 4px 8px;
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
    border-radius: 4px;
    font-size: 1.2rem;
    display: inline-block;
}

.course-item__more-btn,
.course-item__less-btn {
    padding: 4px 8px;
    background-color: var(--bg-secondary);
    color: var(--text-tertiary);
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
}

.course-item__more-btn:hover,
.course-item__less-btn:hover {
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
}

.course-item__less-btn {
    margin-top: 4px;
    align-self: flex-start;
}

/* Expertise section 
.grid-expertise {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
}

.expertise-group {
    width: 100%;
}

.expertise-area {
    font-size: 1.6rem;
    color: var(--text-secondary);
    font-weight: bold;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid var(--border-primary);
    margin-bottom: 0.8rem;
}

.list-expertise-items {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

.list-expertise-items li {
    font-size: 1.2rem;
    color: var(--text-tertiary);
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .grid-expertise {
        grid-template-columns: repeat(2, 1fr);
    }
}*/

/* About me */
.list-about .about-item{
    font-size: 1.6rem;
    color: var(--text-secondary);
    font-weight: bold;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
}


.list-about .list-about-item {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}


.list-about .list-about-item li{
    font-size: 1.4rem;
    color: var(--text-tertiary);
    margin-bottom: 0.5rem;
}

/* Footer */
.footer-container {
    background-color: black;
    color: white;
    padding-top: 42px;
}

.footer-container .footer-upper-section {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 24px;
}

.footer-container .footer-upper-section p {
    color: var(--dark-text-secondary);
}

.footer-container .button-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 12px;
    margin-bottom: 32px;
}

.footer-container .button-container button,
.footer-container .button-container .get-in-touch-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background-color: white;
    gap: 8px;
    color: black;
    font-size: 1.4rem;
}

.footer-container .button-container button:hover {
    cursor: pointer;
}

.footer-container .list-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2;
}

.footer-container .list-footer .footer-item {
    margin-top: 16px;
    font-size: 1.4rem;
    color: var(--dark-text-primary);
    margin-bottom: 8px;
}

.footer-container .list-footer-item li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--dark-text-secondary);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
}


.footer-container .footer-lower-section {
    padding-top: 24px;
    border-top: 1px solid var(--text-tertiary);
}

.footer-container .footer-lower-section article {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-bottom: 32px;
}

/* Scroll Progress Bar */
.scroll-progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1100;
}

.scroll-progress-bar {
    height: 100%;
    background: var(--text-primary);
    width: 0%;
    transition: width 0.1s ease;
}

@media (min-width: 768px) {
    .project-view-container {
        border-bottom: none;
        border-top: 1.5px solid var(--border-primary);
        padding-top: 32px;
        margin-top: 64px;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: 1fr;
        gap: 2.4rem;
    }

    .project-view-container h4 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
    }

    .project-view-container article {
        grid-column: 2 / 8;
        grid-row: 1 / 2;
        align-self: center;
    }

    .project-view-container img {
        grid-column: 8 / 12;
        grid-row: 1 / 2;
        align-self: center;
    }

    .project-view-container .project-arrow {
        grid-column: 12 / 13;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: end;
    }

    .project-view-container .project-status {
        top: 12px;
        right: inherit;
        right: 12px;
        grid-column: 8 / 12;
        grid-row: 1 / 2;
    }

    .experience-item__heading {
        flex-direction: row;
        justify-content: space-between;
    }

    .list-expertise {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: auto;
    }

    .footer-container .button-container {
        flex-direction: row;
        gap: 24px;
    }

    .footer-container .list-footer .footer-item {
        font-size: 1.8rem;
    }

    .footer-container .list-footer-item li {
        font-size: 1.4rem;
        font-weight: 400;
    }
  
}

@media (min-width: 1024px) {
    .info-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
    }

    .brief-info-container {
        grid-column: 2;
    }

    .brief-resume-container {
        grid-column: 1;
        grid-row: 1;
    }

    .expertise-area {
        font-size: 1.8rem;
    }

    .list-expertise-items {
        line-height: 1.5;
    }

    .list-expertise-items li {
        font-size: 1.4rem;
    }

    .about-me-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 5rem;
    }

    
    .list-about .about-item{
        font-size: 1.8rem;
    }

    .list-about .list-about-item {
        line-height: 1.5;
    }

    .footer-upper-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        max-width: 1200px;
    }

    
    .footer-container .footer-lower-section article {
        width: 90%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        padding-bottom: 32px;
    }
}

/* Safari-specific animations */
@supports (-webkit-touch-callout: none) {
  .animate-on-scroll {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    will-change: transform, opacity;
  }
}